<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.shop.dao.sms.CouponHistoryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.learn.shop.entity.sms.CouponHistoryEntity">
        <id column="id" property="id"/>
        <result column="coupon_id" property="couponId"/>
        <result column="member_id" property="memberId"/>
        <result column="coupon_code" property="couponCode"/>
        <result column="member_nickname" property="memberNickname"/>
        <result column="get_type" property="getType"/>
        <result column="create_time" property="createTime"/>
        <result column="use_status" property="useStatus"/>
        <result column="use_time" property="useTime"/>
        <result column="order_id" property="orderId"/>
        <result column="order_sn" property="orderSn"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, member_id, coupon_code, member_nickname, get_type, create_time, use_status, use_time, order_id, order_sn
    </sql>
    <select id="getPageCouponHistoryList" resultType="com.learn.shop.vo.sms.CouponHistoryListVo">
        select ch.coupon_code, ch.member_nickname, ch.get_type, ch.create_time, ch.use_status, ch.use_time, ch.order_sn
        from sms_coupon_history ch where 1=1
        <if test="param.useStatus !=null">
            and ch.use_status = #{param.useStatus,jdbcType=INTEGER}
        </if>
        <if test="param.orderId != null and param.orderId != ''">
            and ch.order_sn = #{param.orderId,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>
