<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.shop.com.learn.databases_cluster.dao.ums.MemberLoginLogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.learn.shop.com.learn.databases_cluster.entity.ums.MemberLoginLogEntity">
        <id column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="create_time" property="createTime"/>
        <result column="ip" property="ip"/>
        <result column="city" property="city"/>
        <result column="login_type" property="loginType"/>
        <result column="province" property="province"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id, create_time, ip, city, login_type, province
    </sql>

</mapper>
