<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.shop.dao.ums.ResourceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.learn.shop.entity.ums.ResourceEntity">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="description" property="description" />
        <result column="category_id" property="categoryId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, name, url, description, category_id
    </sql>

</mapper>
