<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.shop.dao.pms.BrandDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.learn.shop.entity.pms.BrandEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="first_letter" property="firstLetter"/>
        <result column="sort" property="sort"/>
        <result column="factory_status" property="factoryStatus"/>
        <result column="show_status" property="showStatus"/>
        <result column="product_count" property="productCount"/>
        <result column="product_comment_count" property="productCommentCount"/>
        <result column="logo" property="logo"/>
        <result column="big_pic" property="bigPic"/>
        <result column="brand_story" property="brandStory"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, first_letter, sort, factory_status, show_status, product_count, product_comment_count, logo, big_pic, brand_story
    </sql>
    <select id="getPageBrandList" resultType="com.learn.shop.vo.pms.BrandVo">
        select b.id,
        b.name,
        b.first_letter,
        b.sort,
        b.factory_status,
        b.show_status,
        b.product_count,
        b.product_comment_count
        from pms_brand b
        where 1=1
        <if test="param.keyword != '' and param.keyword != null">
            and b.name like concat('%',#{param.keyword},'%')
        </if>
    </select>

</mapper>
