<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>品牌管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>


<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <br>
                    <i class="layui-icon layui-icon-list" style="font-size: 20px;"></i> &nbsp; <span
                        style="font-size: 15px">数据列表</span>
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" style="float: right"> 添加
                    </button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="test"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/layui/layui.js"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="barSet">
    <button type="button" class="layui-btn layui-btn-primary layui-btn-xs">查看下级</button>
    <button type="button" class="layui-btn layui-btn-primary layui-btn-xs">转移商品</button>
</script>

<script type="text/html" id="switchTplLevel">
    {{ d.level== 0 ? '一级' : '' }}
</script>
<script type="text/html" id="switchTplNavStatus">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="navStatus" value="{{d.navStatus}}" lay-skin="switch" lay-text="是|否"
           lay-filter="sexDemo" {{ d.navStatus== 0 ? 'checked' : '' }}>
</script>
<script type="text/html" id="switchTplShow">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="showStatus" value="{{d.showStatus}}" lay-skin="switch" lay-text="是|否"
           lay-filter="sexDemo" {{ d.factoryStatus== 0 ? 'checked' : '' }}>
</script>
<script type="text/javascript" crossorigin="anonymous" th:inline="none">
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , type: "post"
            , url: '/pms-product-category/getPageProductCategory'
            , cols: [[
                {field: 'id', width: 90, align: 'center', title: '编号'}
                , {field: 'name', width: 90, align: 'center', title: '分类名称'}
                , {field: 'level', width: 90, align: 'center', title: '级别', templet: '#switchTplLevel', unresize: true}
                , {field: 'productCount', width: 90, align: 'center', title: '商品数量'}
                , {field: 'productUnit', width: 90, align: 'center', title: '数量单位'}
                , {
                    field: 'navStatus',
                    width: 90,
                    align: 'center',
                    title: '导航栏',
                    templet: '#switchTplNavStatus',
                    unresize: true
                }
                , {
                    field: 'showStatus',
                    width: 90,
                    align: 'center',
                    title: '是否显示',
                    templet: '#switchTplShow',
                    unresize: true
                }
                , {field: 'sort', width: 90, align: 'center', title: '排序', sort: true}
                , {rowspan: 2, align: 'center', title: '设置', toolbar: '#barSet'}
                , {title: '操作', align: 'center', toolbar: '#barDemo', width: 150}
            ]]
            , page: true
        });

        //监听性别操作
        form.on('switch(sexDemo)', function (obj) {
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        });
    });
</script>
</body>
</html>